@using System.Collections.Generic;
@using Models = Videre.Core.Models;
@using Videre.Core.Services;

@model Models.Widget
    
@{
    //var ns = ViewBag.Template.Id + "/" + Model.Id;
    var locs = Model.GetContent<List<Models.Localization>>();
    locs.AddRange(Model.GetContent<List<Models.Localization>>());  //todo: hack?
}

<div id="@Model.GetId("Widget")" class="ui-widget @Model.Css" style="@Model.Style">
@(new HtmlString(Localization.GetContent(locs, "Content.Text", Model.GetText("ContentMissing.Text", "[Content Missing]"))))
</div>

