# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
lib/*.zip
lib/Videre.Core.dll
redist
app_data
*.user
*.pdb
_outgoingMail
_publish
_updates
Web/Content/layouts/*
Web/Content/themes/*
Web/Content/Widgets/*
Web/Views/Shared/Widgets/*
Web/Views/Shared/Controls/*
Web/Scripts/widgets/*
Web/Scripts/controls/*
Web/Scripts/camera*/*
logs/*
*.suo
*.pubxml
# mstest test results
TestResults
Web/AppSettings.config
Web/configuration.targets
Web/ConnectionStrings.config
Web/log4net.config
Web/SMTPSettings.config
packages/*

Web/Scripts/*
!Web/Scripts/date.format.js
!Web/Scripts/videre.extensions.js
!Web/Scripts/videre.js

Web/Scripts/**/*
!Web/Scripts/**/videre*.js

Web/_packages/*
!Web/_packages/ace-*.zip
!Web/_packages/ckeditor-*.zip
!Web/_packages/md5-*.zip
!Web/_packages/Bootstrap-*.zip
!Web/_packages/DataTables-*.zip
!Web/_packages/dynatree-*.zip
!Web/_packages/moment-*.zip
!Web/_packages/summernote-*.zip
!Web/_packages/font-awesome-*.zip
!Web/_packages/jQuery-1.*.zip
!Web/_packages/jQuery-ui-*.zip
!Web/_packages/jquery-ui-multiselect-*.zip
!Web/_packages/jquery-ui-timepicker-*.zip
!Web/_packages/jsRender-*.zip
!Web/_packages/prettify-*.zip
!Web/_packages/valums-file-uploader-*.zip
!Web/_packages/videre-sidenav-*.zip
!Web/_packages/Videre.CoreSiteTemplate.zip
!Web/_packages/Videre.FirstTimeUserContent*.zip
!Web/_packages/videre-docs-*.zip
Web/Views/Layouts/*