# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
lib/*.zip
redist
app_data
*.user
*.pdb
_packages
_updates
Web/Content/layouts/*
Web/Content/themes/*
Web/Content/Widgets/*
Web/Views/Shared/Widgets/*
Web/Scripts/widgets/*
logs/*
*.suo
*.pubxml
# mstest test results
TestResults