# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
lib/*.zip
redist
app_data
*.user
*.pdb
_packages
_outgoingMail
_publish
_updates
Web/Content/layouts/*
Web/Content/themes/*
Web/Content/Widgets/*
Web/Views/Shared/Widgets/*
Web/Views/Shared/Controls/*
Web/Scripts/widgets/*
Web/Scripts/controls/*
Web/Scripts/camera*/*
logs/*
*.suo
*.pubxml
*.test
*.production
# mstest test results
TestResults