@using Videre.Core.Extensions;
@using Videre.Core.Services;
@using CodeEndeavors.Extensions;
@model Videre.Core.Models.PageTemplate

@{
    Html.RegisterStylesheet(UI.LayoutContentPath.PathCombine("GeneralWide/layout.css"), true);
}

<!DOCTYPE HTML>
<html>
    <head>
        <title>@(!string.IsNullOrEmpty(ViewBag.Title) ? ViewBag.Title : "Videre")</title>
        @{Html.RenderLayoutHeader();}

    </head>
    <body>
        <div class="container-fluid template-header shaded">
            <h3>@(this.Model != null ? this.Model.Title : "Videre")</h3>
        </div>
		<div class="container-fluid">			
			<div class="content" style="min-height: 500px;">	
				@RenderBody()
                @{Html.RenderWidgets(this.Model, "Main");}
			</div> 
	
            <footer>		
	            <div class="content well">
                    @{Html.RenderWidgets(this.Model, "Footer");}
	            </div> 
            </footer>
        </div>                    
        @{Html.RenderLayoutDeferred();}
    </body>
</html>
