@using Videre.Core.Extensions;
@using Videre.Core.Services;
@using CodeEndeavors.Extensions;
@model Videre.Core.Models.PageTemplate

@{
    Html.RegisterStylesheet(UI.LayoutContentPath.PathCombine("SidebarRight/layout.css"), true);
}

<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @*TODO:  Move these to WebReference???
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->*@
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <title>@(!string.IsNullOrEmpty(ViewBag.Title) ? ViewBag.Title : "Videre")</title>
        @{Html.RenderLayoutHeader();}
    </head>
    <body>
        <div class="container">
            <div class="content-header template-header shaded">
                <h3>@(this.Model != null ? this.Model.Title : "Videre")</h3>
            </div>
        </div>
		<div class="container">			
			<div class="content" style="min-height: 500px;">	
				@RenderBody()
                <div class="container-fluid">
                    <div class="row">
                        <div class="span8">
                            @{Html.RenderWidgets(this.Model, "Main");}
                        </div>
                        <div class="span3">
                            @{Html.RenderWidgets(this.Model, "Sidebar");}
                        </div>
                    </div>
                </div>
			</div> 
	
            <footer>		
	            <div class="content well">
                    @{Html.RenderWidgets(this.Model, "Footer");}
	            </div> 
            </footer>
        </div>         
        @{Html.RenderLayoutDeferred();}        
    </body>
</html>
