@using Videre.Core.Extensions;
@using Videre.Core.Services;
@using CodeEndeavors.Extensions;
@model Videre.Core.Models.PageTemplate

@{
    Html.RegisterStylesheet(UI.LayoutContentPath.PathCombine("SidebarRight/layout.css"), true);
}

<!DOCTYPE HTML>
<html>
    <head>
        <title>@(!string.IsNullOrEmpty(ViewBag.Title) ? ViewBag.Title : "Videre")</title>
        @{Html.RenderLayoutHeader();}
    </head>
    <body>
        <div class="container template-header shaded">
            <h3>@(this.Model != null ? this.Model.Title : "Videre")</h3>
        </div>
		<div class="container">			
			<div class="content" style="min-height: 500px;">	
				@RenderBody()
                <div class="container-fluid">
                    <div class="row">
                        <div class="span8">
                            @{Html.RenderWidgets(this.Model, "Main");}
                        </div>
                        <div class="span3">
                            @{Html.RenderWidgets(this.Model, "Sidebar");}
                        </div>
                    </div>
                </div>
			</div> 
	
            <footer>		
	            <div class="content well">
                    @{Html.RenderWidgets(this.Model, "Footer");}
	            </div> 
            </footer>
        </div>         
        @{Html.RenderLayoutDeferred();}        
    </body>
</html>
