<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeEndeavors.Distributed.Cache.Client" version="1.0.23" targetFramework="net45" />
  <package id="CodeEndeavors.Extensions" version="2.0.10" targetFramework="net45" />
  <package id="CodeEndeavors.ResourceManager" version="2.0.46" targetFramework="net45" />
  <package id="DotNetOpenAuth.AspNet" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.Core" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.GoogleOAuth2" version="1.1.2" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.3.4.13329" targetFramework="net45" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.3.4.13329" targetFramework="net45" />
  <package id="Lucene.Net" version="2.9.4.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages.Data" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.OAuth" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net40" />
</packages>