/* The white background content wrapper */
html, body
{
    background-color: #eee;
}
body
{
    /*padding-left: 190px;*/ /* assumes we have Menu at top fixed and it is 40px high */
}
/*.container > footer p
{
    text-align: center; 
}*/

/* The white background content wrapper */
.content
{
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
}

.template-header
{
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid #eeeeee;
}
