@using Videre.Core.Extensions;
@model Videre.Core.Models.PageTemplate


@{
    //a layout must register its available panes.. for now just names, but may eventually allow for a layout to be specified so designer can be more representative of actual
    //ViewBag.Panes = new string[] { "Main" };   
}

<!DOCTYPE HTML>
<html>
    <head>
        <title>@(!string.IsNullOrEmpty(ViewBag.Title) ? ViewBag.Title : "Videre")</title>
        @{Html.RenderLayoutHeader();}

    </head>
    <body>
		@RenderBody()
        @{Html.RenderWidgets(this.Model, "Main");}

        @{Html.RenderLayoutDeferred();}
    </body>
</html>
