@import url(http://fonts.googleapis.com/css?family=Lobster);

.videre-font
{
    font-family: 'lobster', cursive;
}

.shaded /*wish bootstrap had something like this*/
{
    background-color: #f5f5f5;
}

.table-condensed
{
    font-size: .9em;
}

.videre-form-actions
{
    padding: 8px 8px 8px 0;
    text-align: right;
    margin: 0;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
}

.panel.videre-has-form-actions .panel-body
{
    padding: 0;
}
.panel.videre-has-form-actions .videre-form
{
    padding: 8px;
}

.videre-form-condensed .form-group 
{
    margin-bottom: 7px; 
}

.videre.ui-widget-header
{
    padding: 4px;
}

.videre.form-horizontal
{
    padding-top: 10px;
}

legend
{
    border-bottom: 0;
    font-size: 12pt;
    font-weight: bold;
}

.videre.dark-fill
{
    background-color: #848284;
    color: White;
}

.modal-header
{
    background: url(images/ui-bg_glass_75_e6e6e6_1x400.png) #e6e6e6 repeat-x 50% 50%;
}

.designer-panes .pane
{
    background-color: #f5f5f5;
    margin-bottom: 5px;
}

.designer-panes .widget-container
{
    margin-bottom: 5px;
}

a
{
    cursor: pointer;
}

.alt
{
    background-color: #f4f4f4;
}

.hide-overflow
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -moz-binding: url('ellipsis.xml#ellipsis');
    display: block;
}

/*todo: does bootstrap already do something for this?*/
.videre-compact .form-horizontal .form-group
{
    margin-bottom: 4px;
}

.videre-modal-noscroll .modal-body
{
    max-height: 1000px;
}

.videre-table-nowrap th, .videre-table-nowrap td
{
    white-space: nowrap;
}

.videre-widget-message
{
    max-height: 300px;
    overflow: auto;
}

.videre-fixed-width-font, .form-horizontal .videre-fixed-width-font
{
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace; 
}

.videre-sidenav 
{
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.videre-sidenav > li > a 
{
  display: block;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.videre-sidenav > li:first-child > a 
{
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.videre-sidenav > li:last-child > a 
{
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}

.nav.videre-tabs 
{
    margin-bottom: 15px;    /*bs3 doesn't have margin here...  */
}

.videre-nav-indent ul 
{
	margin-left: 15px !important;
}

.videre-nav-condensed a
{
    padding: 2px 5px 2px 5px !important;
}

.videre-code-font 
{
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 10pt;
}

.videre-code-font-small
{
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 8pt;
}

/*Allow for menus to be hierarchical - http://www.bootply.com/86684 */
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

                                        .videre-navbar-animate.navbar-default .navbar-nav > li.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);   
}

/*allow navbar to animate submenus if widget specifies css of videre-navbar-animate */
.videre-navbar-animate .dropdown-menu {
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(1, 0);
  display: block; 
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}

.videre-navbar-animate ul.dropdown-menu {
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    -mos-transition: -mos-transform 0.4s, opacity 0.1s 0.3s;
    -o-transition: -o-transform 0.4s, opacity 0.1s 0.3s;
}

.videre-navbar-animate li.open > ul.dropdown-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: rotateX(0deg);
      -moz-transform: rotateX(0deg);
      -ms-transform: rotateX(0deg);
      -o-transform: rotateX(0deg);
      transform: rotateX(0deg);
      -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
      -moz-transition: -moz-transform 0.4s, opacity 0.1s;
      -mos-transition: -mos-transform 0.4s, opacity 0.1s;
      -o-transition: -o-transform 0.4s, opacity 0.1s;
      transition: transform 0.4s, opacity 0.1s;
}

.videre-navbar-animate ul.dropdown-menu li a {
    display: block;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}


